body{
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container{
    color: #d7dfe4;
}

/* #time{
    text-align: center;
} */

.digit{
    font-size: 150px;
    font-weight: bold;
}
.text{
    font-size: 40px;
    font-weight: bold;
}

#button{
    text-align: center;
    margin-top: 40px;
}


.btn{
    padding: 10px 30px;
    font-size: 15px;
    margin: 0px 10px;
    color: white;
    border: 0px;
    cursor: pointer;
}

#start{background-color: #1abc9c;}
#stop{background-color: #3498db;}
#reset{background-color: #e74c3c;}

